.f-main {
	padding-top: 2vh;
	width: 100vw;
	background: var(--black);
}

.footer {
	position: relative;
	height: 100vh;
}

.footer-section {
	width: 90%;
	position: absolute;
	margin: 0;
	bottom: 5vh;
	left: 7vw;
}

.footer-info {
	font-size: 1.5rem;
	padding: .25rem;
	font-weight: 500;
}

.footer-contact {
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
	text-align: center;
}

.footer-icon {
	background-Color: var(--orange);
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.f-container {
	width: 90vw;
	margin: auto;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns:  2fr 1fr 2fr;
	column-gap: 3rem;
}

.row {
	display: flex;
	justify-content: space-between;
}

.input-txt {
	width: 40vw;
	height: 7vh;
	padding: .8rem;
	margin-bottom: 2vh;
	border-radius: 10px;
}

.input-txt-sm {
	width: 100%;
	height: 5vh;
	padding: .8rem;
	margin-bottom: 2vh;
	border-radius: 10px;
}

.rowb {
	display: flex;
}

.input-txt::placeholder, .input-txt-sm::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--orange);
  opacity: 1; /* Firefox */
}

.input-tx:-ms-input-placeholder, .input-txt-sm:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--orange);
}

.input-txt::-ms-input-placeholder, .input-txt-sm::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--orange);
}
.col {
	display: flex;
	flex-direction: column;
	padding-bottom: 80px;
}

.sub-header {
	font-size: 2em;
	font-weight: bold;
	padding-bottom: 1vh;
	color: white;
	margin-top: 5vh;
}

.f-link {
	text-decoration: none;
	color: white;
}

.f-link:hover {
	color: var(--colorb)
}

.icon {
	background: white;
	height: 30px;
	width: 30px;
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.s-links {
	text-decoration: none;
}

.line {
	width: 100%;
	background: var(--colorb);
	border-style: solid;
  border-width: thin;
	border-color: var(--colorb);
	margin-top: 3vh;
	margin-bottom: 1vh;
}

.f-logoContainer {
	width: 150px;
	height: 40px;
	display: flex;
	justify-content: center;
}

.f-logo {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.footer-copyright {
  font-size: 1.3rem;
}


.center {
	flex: 1;
  display: flex;
  justify-content: center;
	align-items: center;
	color: white;
}

.social-icons {
	display: flex;
}

.social-icons > a{
  display: block;
}

.social-icons > a > i{
}


@media only screen and (max-width: 1033px) {
}

@media only screen and (max-width: 768px) {
	.row {
		flex-direction: column;
	}
	.rowb {
		flex-direction: row;
	}


	.sub-header {
		padding-top: 3vh;
	}

}
