.message {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup-header {
	width: 100%;
	display: flex;
	height: 7vh;
	color: white;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.4em;
	margin-bottom: 3em;
	background-color: var(--color);
}

.file-picker {
	font-size: .85em;
	margin-left: 3em;
}

.choose-file, .select,
	.btn-container {
	display: flex;
	font-size: 1.2em;
	margin-top: 1.2vw;
}

.transcribe-btn {
	display: flex;
	margin-top: 2.5vh;
	border-radius: 5px;
	width: 100%x;
	height: 40px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: var(--colorb);
	align-self: center;
	text-align: center;
	align-self: center;
	cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
