.services {
	position: relative;
}
.service {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.service-image {
	width: 200px;
	padding-bottom: 1rem;
}
.service-info {
	text-align: center;
}
.service-name {
	font-size: 1rem;
	font-weight: bold;
}

@media only screen and (max-width: 768px) {
	.service-image {
		width: 40px;
	}
	.service-name {
		font-size: .6rem;
	}

}
