.services {
	position: relative;
}

.service {
	display: flex;
	flex-direction: column;
}
.service-image {
	width: 200px;
}

@media only screen and (max-width: 768px) {
	.service-image {
		width: 30px;
	}
}
