.team-member {
	display: flex;
  flex-direction: column;
  align-items: center;
}
.team-image {
	width: 300px;
}
.team-info {
	text-align: center;
}
.team-name {
	font-size: 1.8rem;
	font-weight: bold;
}
.team-title {
	color: var(--orange);
	font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
	.team-name {
		font-size: 1.3rem;
		font-weight: bold;
	}
	.team-title {
		font-size: 1rem;
	}
	.team-member {
		flex-wrap: nowrap;
	}
	.scroller {
		overflow: scroll;
	}

}


