:root {
	--orange: #EA6B01;
	--blue: #3D85BB;
	--green: #3B8117;
	--black: #000;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Antipasto';
  src: local('Antipasto'), url(./fonts/AntipastoPro-Bold_trial.ttf) format('ttf');
}

.img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.container {
	width: 100%;
}

.col-2 {
	display: flex;
	justify-content: space-between;
}

.small-font {
	font-size: 1.5rem;
	padding: .5rem;
	font-weight: 500;
}

.title-1a {
	font-size: 1.5rem;
	font-weight: bold;
	padding-bottom: 1rem;
}

.white {
	color: white;
}

.title-2 {
	font-size: 2rem;
	font-weight: bold;
	color: var(--orange);
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.title-2a {
	font-size: 2.5rem;
	font-weight: bold;
	color: white;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.title-3 {
	font-size: 3rem;
	font-weight: bold;
	padding-bottom: 3rem;
}

.title-4 {
	font-size: 4rem;
	font-weight: bold;
	padding-bottom: 3rem;
}

.p {
	font-size: 2.3rem;
	font-weight: lighter;
	line-height: 3rem;
}


.section {
	width: 90%;
	margin: auto;
	padding-top: 3vw;
	padding-bottom: 3vw;
}

.t {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.col-2-a {
	width: 48%;
}

.col-2-b {
	flex: 2
}

.logoContainer {
	width: 250px;
}

.btn-label {
	font-size: 1.8rem;
	font-weight: bold;
	color: white;
}

.btn-label-sm {
	font-size: 1.3rem;
	font-weight: bold;
	color: white;
}

.btn {
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	width: 20vw;
	height: 10vh;
	display: flex;
	background-color: var(--orange);
}

.btn-sm {
	border-radius: 8px;
	width: 16vw;
	height: 8vh;
}

.footer-logo {
  width: 17rem;
	margin-bottom: 3rem;
}

.long {
	width: 60%;
	color: white;
	line-height: 4rem;
}

ul {
  list-style: none;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

a {
  text-decoration: none;
  display: inline;
  cursor: pointer;
	margin: 0;
	padding: 0;
}

.mid {
	width: 60%;
	color: white;
	line-height: 4rem;
}

.short {
	width: 45%;
	color: white;
	line-height: 4rem;
}

.footer-mission {
	color: white;
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 2.5rem;
}

.scroller {
	display: flex;
	width: 70%;
	margin: auto;
	justify-content: space-around;
}

.sc {
	display: flex;
	width: 90%;
	margin: auto;
	justify-content: space-around;
	padding-bottom: 3vw;
}

@media only screen and (max-width: 1200px) {
	.scroller {
		width: 50vw;
	}
}

@media only screen and (max-width: 768px) {
	.scroller {
		overflow-x: scroll;
		width: 80vw;
	}

	.col-2 {
		display: block
	}

	.col-2 div {
		width: 100%;
	}

	.small-font {
		font-size: 1.5rem;
		padding: .5rem;
		font-weight: 500;
	}

	.title-1a {
		font-size: 1.5rem;
		font-weight: bold;
		padding-bottom: 1rem;
	}

	.title-2 {
		font-size: 2rem;
		font-weight: bold;
		color: var(--orange);
		padding-bottom: 1rem;
		padding-top: 1rem;
	}

	.mid {
		width: 50%;
	}

	.short {
		width: 45%;
		color: white;
		line-height: 4rem;
	}
	.title-3 {
		font-size: 3rem;
		font-weight: bold;
		padding-bottom: 3rem;
	}

	.p {
		font-size: 2.3rem;
		font-weight: lighter;
		line-height: 3rem;
	}

	.logoContainer {
		width: 150px;
		display: flex;
		object-fit: contain;
	}
}

